<html>
    <head>
        <!doctype html>
        <html lang="en">
          <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
          </head>
          <body>
            
        
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          </body>
        </html>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
        
        
        <title>Post Form</title>

        <style>
            .error{
                color: red;
                font-size: 14px;
                margin-bottom: 10px;
            }


        .parsley-errors-list li {
            color: red;
            list-style: none;
        }
        </style>
    </head>

    <body>
        <h1>POST FORM</h1>
        <div class="form-group">
        <form action = "http://localhost:8081/process_post" method = "POST"  data-parsley-validate="">
            First Name: <input type = "text" name = "first_name"   data-parsley-required > <br> <br>
            <% if(locals.errors && locals.errors.first_name){ %>
                <div class="error"><%= errors.first_name[0] %></div>
            <% } %>
            Last Name: <input type = "text" name = "last_name"  data-parsley-required > <br> <br>
            <% if(locals.errors && locals.errors.last_name){ %>
                <div class="error"><%= errors.last_name[0] %></div>
            <% } %>
            Email Id: <input type = "email" name = "email"  data-parsley-required data-parsley-type="email"> <br> <br>
            <% if(locals.errors && locals.errors.email){ %>
                <div class="error"><%= errors.email[0] %></div>
            <% } %>

            Phone No: <input type = "phone" name = "phone"  data-parsley-required data-parsley-type="phone"> <br> <br>
            <% if(locals.errors && locals.errors.phone){ %>
                <div class="error"><%= errors.phone[0] %></div>
            <% } %>
           
            <input type="submit" value="submit">
        </form>

        <table id = "myTable" border="1" >

            
        <thead>
            <tr>
                <th>id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>phone</th>
                <th> Update</th>
                <th> Delete</th>


            </tr>
        </thead>
        <% for (var i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].id %> </td>
                <td><%= data[i].first_name %> </td>
                <td><%= data[i].last_name %> </td>
                <td><%= data[i].email %> </td>
                <td><%= data[i].phone %> </td>
                <td><a href="/edit/<%= data[i].id%>"><button class="btn btn-link">Update</button></a></td> 
                <td><a href="/delete-user/<%=data[i].id%>"><button class="btn btn-link">Delete</button></a></td>
                
                


            </tr>
      <% }  %>   

        </table>
    </body>

    


</html>

